body {
    margin-top: 40px;
}
#wd-frontend-toolbar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 28px;
}
#wd-frontend-toolbar .dropdown-menu{
    border-radius: 0;
}
#wd-frontend-toolbar .dropdown-menu:empty{
    display: none;
}
#wd-frontend-toolbar .navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
}
#wd-frontend-toolbar .navbar-brand {
    height: 40px;
    line-height: 40px;
    padding: 9px 15px;
}
#wd-frontend-toolbar .navbar-toggle{
    padding: 4px;
    border-radius: 0;
}