/*GENERAL*/
html, body{
    height: 100% !important;
    min-height: 100% !important;
    position: relative;
}

/*SIDEBAR*/
#media-popup .sidebar-left{
    position: absolute;
    width: 170px;
    border-right: 1px solid #CCCCCC;
    bottom: 0;
    top: 0;
    padding-top: 20px;
    background: #F2F2F2;
}
#media-popup .sidebar-left ul > li.active > a ,
#media-popup .sidebar-left ul > li > a:hover ,
#media-popup .sidebar-left ul > li > a:focus {
    margin-right: -1px;
}

/* TABS */
#media-popup .nav-tabs-custom {
    margin-bottom: 0;
}
#media-popup .nav-primary{
    position: absolute;
    top: 0;
    right: 0;
    left: 170px;
    z-index: 2;
    padding-top: 16px;
    background: #FCFCFC;
    padding-left: 10px;
}

/*TAB CONTENT*/
#media-popup .tab-content{
    position: absolute;
    left: 170px;
    right: 0;
    bottom: 0;
    top: 60px;
    background: #FFFFFF;
}

/* FILTER */
#media-popup .media-filter{
    margin-right: 300px;
    padding: 10px;
}

/*DROPZONE*/
#media-popup .dropzone {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: auto;
    width: auto;
    text-align: center;
    border: 5px dashed #eeeeee;
    transition: all 0.3s ease-out;
    opacity: 1;
    padding: 25px;
}
#media-popup .dropzone.hover {
    background: #FFFFFF;
    opacity: 0.7;
}

/*CONTENT LEFT*/
#media-popup .content-left{
    overflow-y: auto;
    position: absolute;
    bottom: 54px;
    right: 300px;
    top: 45px;
    margin-top: 0;
    left: 0;
    overflow-x: hidden;
}
#media-popup .file-container{
    list-style: none outside;
    padding: 0 5px 5px 5px;
}
#media-popup .media-item {
    display: block;
    width: 16.66%;
    box-sizing: border-box;
    float: left;
    padding: 5px;
    cursor: pointer;
}
#media-popup .media-item .item{
    position: relative;
}
#media-popup .media-item .item img{
    width: 100%;
}
#media-popup .media-item .selected-check{
    padding: 3px 6px;
    background: #EEEEEE;
    position: absolute;
    top: -4px;
    right: -4px;
    color: #444444;
    border: 1px solid #DDDDDD;
    display: none;
}
#media-popup .media-item.ui-selected .selected-check{
    display: block;
}
#media-popup .media-item .media-description{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    padding: 3px 6px;
    background: rgba(0,0,0,0.4);
    color: #FFFFFF;
    font-size: 12px;
    line-height: 18px;
}

/* CONTENT RIGHT */
#media-popup .content-right{
    position: absolute;
    width: 300px;
    right: 0;
    top: 0;
    bottom: 54px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
    background: #F2F2F2;
    border-left: 1px solid #CCCCCC;
}

/* CONTENT FOOTER */
#media-popup .content-footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: #FCFCFC;
    padding: 10px;
    border-top: 1px solid #EEEEEE;
}
#media-popup .content-footer > .insert-media{
    margin-right: 20px;
}

/* PAGINATION */
#media-popup .media-pagination{
    text-align: center;
}
#media-popup .media-pagination > .pagination{
    margin: 0;
    padding: 10px;
}

/* MEDIA DETAIL */
#media-popup .media-detail{
    font-size: 12px;
}
#media-popup .media-detail .media{
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
}
#media-popup .media-detail h3{
    margin-top: 0;
    font-size: 14px;
}
#media-popup .media-detail h4{
    margin-top: 0;
    font-size: 13px;
    font-weight: bold;
}

/* MEDIA FORM*/
#media-popup .media-form{
    padding-top: 15px;;
    font-size: 11px;
    padding-bottom: 15px;
}
#media-popup .media-form label{
    padding-top: 5px;;
    font-size: 11px;
    font-weight: normal;
    color: #777777;
}
#media-popup .media-form h4{
    font-size: 14px;
}
#media-popup .media-form .form-group {
    margin-bottom: 5px;
}
#media-popup .media-media_size{
    text-transform: capitalize;
}


@media (max-width: 1200px) {
    #media-popup .media-item {
        width: 25%;
    }
}
@media (max-width: 979px) {
    #media-popup .media-item {
        width: 33.333%;
    }
}
@media (max-width: 767px) {
    #media-popup .media-item {
        width: 25%;
    }
    #media-popup .sidebar-left{
        display: none;
    }
    #media-popup .media-filter {
        margin-right: 200px;
    }
    #media-popup .nav-tabs {
        left: 0;
    }
    #media-popup .tab-content {
        left: 0;
    }
    #media-popup .content-right {
        width: 200px;
    }
    #media-popup .content-left {
        right: 200px;
    }
}
@media (max-width: 639px) {
    #media-popup .media-item {
        width: 50%;
    }
}
@media (max-width: 479px) {
    #media-popup .media-item {
        width: 100%;
    }
}
