.dd {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list .dd-list {
    padding-left: 25px;
}

.dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 17px;
    font-size: 13px;
    line-height: 17px;
}

.dd-item {
    margin-bottom: 7px;
}

.dd-item > ul > .dd-item {
    margin-top: 7px;
}

.dd-handle {
    position: absolute;
    right: 32px;
    left: 0;
    padding: 9px 10px 8px 15px;
    cursor: pointer;
}

.dd-placeholder,
.dd-empty {
    margin: 7px 0;
    padding: 0;
    min-height: 36px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

#create-menu-items .box {
    margin-bottom: 0;
    border-bottom: none;
    border-radius: 0;
}
#create-menu-items .box-footer {
    border-radius: 0;
}
.menu-header {
    display: block;
    background: #F4F4F4;
    border: 1px solid #dbdbdb;
}

.menu-header .btn-detail-menu {
    display: block;
    float: right;
    margin: -1px -1px -1px 0;
}

.menu-body {
    padding: 15px;
    background: #FFFFFF;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #dbdbdb;
}

.menu-body .dd-placeholder {
    max-width: 100%;
}